* {
  box-sizing: border-box;
}

:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f9fafb;
  color: #111827;
}

#root {
  min-height: 100vh;
}
